* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

.wrapHead {
  width: 90%;
  margin: 0 auto;
  transition: all ease-in-out 0.5s;
}

.wrapHead.fixed-to-top {
  width: 96%;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(38, 50, 56, 0.5);
  padding: 10px 0;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

header.fixed-to-top {
  background: rgba(38, 50, 56, 1);
}

#brand {
  color: #ccc;
  float: left;
}

#brand h1 {
  letter-spacing: 6px;
  text-shadow: 2px 2px 5px #111;
}

nav {
  float: right;
  margin-top: 10px;
}

nav li {
  display: inline-block;
  margin: 0 4px;
}

nav li a {
  padding: 10px 0;
  text-decoration: none;
  color: #e1e1e1;
  transition: all ease-in-out 0.5s;
}

nav li a:hover {
  color: #b1afaf;
  transition: 0.2s ease;
}

::-webkit-scrollbar {
  height: 8px;
  width: 5px;
  background: #1f1c1c;
}

::-webkit-scrollbar-thumb {
  background: #2d2d26;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #1f1c1c;
}


.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 33px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    translate: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    translate: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    display: flex;
    position: fixed;
    opacity: 0;
    right: 0;
    transition: 0.3s ease-in;
    top: 60px;
    width: 100vw;
    flex-direction: column;
    text-align: center;
    background-color: rgba(38, 50, 56, 0.5);
  }

  .nav-menu.active {
    opacity: 100%;
    transition: 0.3s ease-in;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu:active {
    left: 0;
  }
}